<form [formGroup]="vehicleForm" class="form">
  <mat-form-field appearance="outline" class="field">
    <mat-label>Chassis Number</mat-label>
    <input matInput formControlName="chassisNumber" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Vehicle Type</mat-label>
    <mat-select formControlName="vehicleTypeId">  
      <mat-option *ngFor="let type of vehicleTypes" [value]="type.id">{{ type.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Brand</mat-label>
    <mat-select formControlName="vehicleBrandId">
      <mat-option *ngFor="let brand of vehicleBrands" [value]="brand.id">{{ brand.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Model</mat-label>
    <mat-select formControlName="vehicleModelId">
      <mat-option *ngFor="let model of vehicleModels" [value]="model.id">{{ model.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fuel Type</mat-label>
    <mat-select formControlName="fuelType">
      <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel">{{ fuel }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Production Year</mat-label>
    <input matInput type="number" formControlName="productionYear" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Weight (kg)</mat-label>
    <input matInput type="number" formControlName="weight" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Engine Power (kW)</mat-label>
    <input matInput type="number" formControlName="enginePowerKw" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Engine Capacity (cm³)</mat-label>
    <input matInput type="number" formControlName="engineCapacity" />
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>First Registration Date</mat-label>
    <input matInput [matDatepicker]="firstReg" formControlName="firstRegistrationDate" />
    <mat-datepicker-toggle matSuffix [for]="firstReg"></mat-datepicker-toggle>
    <mat-datepicker #firstReg></mat-datepicker>
  </mat-form-field>
</form>

<div style="display: flex; justify-content: center; margin-bottom: 40px">
  <button mat-flat-button color="primary" type="button" [disabled]="vehicleForm.invalid" (click)="onSave()">
    Save
  </button>
</div>