USE [master]
GO
/****** Object:  Database [RegistracijaVozila]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE DATABASE [RegistracijaVozila]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegistracijaVozila', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DANILOSQL\MSSQL\DATA\RegistracijaVozila.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegistracijaVozila_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DANILOSQL\MSSQL\DATA\RegistracijaVozila_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistracijaVozila].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistracijaVozila]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijenti]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijenti](
	[Id] [uniqueidentifier] NOT NULL,
	[Ime] [nvarchar](max) NOT NULL,
	[Prezime] [nvarchar](max) NOT NULL,
	[JMBG] [nvarchar](max) NOT NULL,
	[BrojLicneKarte] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[BrojTelefona] [nvarchar](max) NOT NULL,
	[Adresa] [nvarchar](max) NOT NULL,
	[DatumRodjenja] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Klijenti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarkeVozila]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarkeVozila](
	[Id] [uniqueidentifier] NOT NULL,
	[Naziv] [nvarchar](max) NOT NULL,
	[TipVozilaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MarkeVozila] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModeliVozila]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModeliVozila](
	[Id] [uniqueidentifier] NOT NULL,
	[Naziv] [nvarchar](max) NOT NULL,
	[MarkaVozilaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ModeliVozila] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Osiguranja]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Osiguranja](
	[Id] [uniqueidentifier] NOT NULL,
	[Naziv] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Osiguranja] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OsiguranjeCijene]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OsiguranjeCijene](
	[Id] [uniqueidentifier] NOT NULL,
	[OsiguranjeId] [uniqueidentifier] NOT NULL,
	[MinKw] [int] NOT NULL,
	[MaxKw] [int] NOT NULL,
	[PricePerKw] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OsiguranjeCijene] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registracije]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registracije](
	[Id] [uniqueidentifier] NOT NULL,
	[DatumRegistracije] [datetime2](7) NOT NULL,
	[CijenaRegistracije] [decimal](18, 2) NOT NULL,
	[PrivremenaRegistracija] [bit] NOT NULL,
	[KlijentId] [uniqueidentifier] NOT NULL,
	[VoziloId] [uniqueidentifier] NOT NULL,
	[DatumIstekaRegistracije] [datetime2](7) NOT NULL,
	[OsiguranjeId] [uniqueidentifier] NOT NULL,
	[RegistarskaOznaka] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Registracije] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoviVozila]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoviVozila](
	[Id] [uniqueidentifier] NOT NULL,
	[Naziv] [nvarchar](max) NOT NULL,
	[Kategorija] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TipoviVozila] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vozila]    Script Date: 9/16/2025 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vozila](
	[Id] [uniqueidentifier] NOT NULL,
	[TipVozilaId] [uniqueidentifier] NOT NULL,
	[MarkaVozilaId] [uniqueidentifier] NOT NULL,
	[ModelVozilaId] [uniqueidentifier] NOT NULL,
	[GodinaProizvodnje] [int] NOT NULL,
	[ZapreminaMotora] [real] NOT NULL,
	[Masa] [real] NOT NULL,
	[SnagaMotora] [int] NOT NULL,
	[BrojSasije] [nvarchar](max) NOT NULL,
	[DatumPrveRegistracije] [datetime2](7) NOT NULL,
	[VrstaGoriva] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Vozila] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250617141621_add auth db', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250622193852_InitialMigration', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250622194124_VehicleTablesFix', N'9.0.6')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'49b719cf-9ebf-4151-af09-835f9c03f6b6', N'Zaposleni', N'ZAPOSLENI', N'49b719cf-9ebf-4151-af09-835f9c03f6b6')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'80e38d55-3872-4320-9f5b-54d5b2e50d38', N'Admin', N'ADMIN', N'80e38d55-3872-4320-9f5b-54d5b2e50d38')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2811efa5-5554-49dd-bf66-0b9996d32d8d', N'49b719cf-9ebf-4151-af09-835f9c03f6b6')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'93e88597-7567-4e0a-af32-d3c79597ab97', N'49b719cf-9ebf-4151-af09-835f9c03f6b6')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a30c9ee0-b088-485b-9bad-d6a0453f8f9e', N'49b719cf-9ebf-4151-af09-835f9c03f6b6')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'2811efa5-5554-49dd-bf66-0b9996d32d8d', N'ivan', N'IVAN', N'ivan@gmail.com', N'IVAN@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEAI+raUWoy6mWJ3IBjmqvYI72uTSCxpFuULfInzzkqAlnSDxgpJRgqaMmp5AsRNK7w==', N'RNELFQTU5POFJXX75RUFJ6E3MCR2DTBD', N'36f2459f-5c46-4971-99ee-7bfcbd06a251', NULL, 0, 0, NULL, 1, 0)
GO
INSERT [dbo].[Klijenti] ([Id], [Ime], [Prezime], [JMBG], [BrojLicneKarte], [Email], [BrojTelefona], [Adresa], [DatumRodjenja]) VALUES (N'969f7406-052b-45c0-f09b-08ddb3427c34', N'Ljubica', N'Zeravic', N'2603992111003', N'008972143', N'ljubicazeravic@gmail.com', N'062887914', N'Vukasoviceva 51', CAST(N'1992-03-25T23:00:00.0000000' AS DateTime2))
INSERT [dbo].[Klijenti] ([Id], [Ime], [Prezime], [JMBG], [BrojLicneKarte], [Email], [BrojTelefona], [Adresa], [DatumRodjenja]) VALUES (N'b48e6b5c-8117-46d9-2ce2-08ddcae36a56', N'danilo', N'jankovic', N'2304991710317', N'007301592', N'jankovic.danilo23@gmail.com', N'0641095556', N'Vukasoviceva 51', CAST(N'1991-04-23T06:59:41.6730000' AS DateTime2))
INSERT [dbo].[Klijenti] ([Id], [Ime], [Prezime], [JMBG], [BrojLicneKarte], [Email], [BrojTelefona], [Adresa], [DatumRodjenja]) VALUES (N'fdc5b67a-161d-4732-5759-08ddcb4447ce', N'Marko', N'Markovic', N'1239876540122', N'008912638', N'marko@gmail.com', N'066718934', N'Kralja Milana 71', CAST(N'1997-03-11T23:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[MarkeVozila] ([Id], [Naziv], [TipVozilaId]) VALUES (N'cac199ef-3e71-4825-8d08-01503063c89b', N'CFMOTO', N'e380b5e1-4c5f-41e2-aaa3-cd0551f506c5')
INSERT [dbo].[MarkeVozila] ([Id], [Naziv], [TipVozilaId]) VALUES (N'52bdc02f-7a81-4299-a291-017efac63a7e', N'Ferari', N'2f4e824a-0b64-4dc0-b89b-c15202522f8a')
INSERT [dbo].[MarkeVozila] ([Id], [Naziv], [TipVozilaId]) VALUES (N'aad30535-d924-4257-bd6f-02420228921c', N'Volvo', N'2f4e824a-0b64-4dc0-b89b-c15202522f8a')
GO
INSERT [dbo].[ModeliVozila] ([Id], [Naziv], [MarkaVozilaId]) VALUES (N'71687fc3-9874-413a-8dd2-0016b6e53956', N'Ford B Series Bus', N'9ef11da5-2477-40fa-babc-8f43820f10fc')
INSERT [dbo].[ModeliVozila] ([Id], [Naziv], [MarkaVozilaId]) VALUES (N'cb169d18-4d45-42f7-b260-002d7f3da2d5', N'Express', N'9954c17e-7103-4bae-8019-37b31a14a235')
INSERT [dbo].[ModeliVozila] ([Id], [Naziv], [MarkaVozilaId]) VALUES (N'0beaf03b-11b6-40dc-b4dc-00362fc41d87', N'CROSSLAND 300 4x4', N'e2ecccdf-5bfd-4a42-9897-069b069eb888')
GO
INSERT [dbo].[Osiguranja] ([Id], [Naziv]) VALUES (N'e40105eb-d13b-43e8-d893-08ddb33fbcea', N'Sava Osiguranje')
INSERT [dbo].[Osiguranja] ([Id], [Naziv]) VALUES (N'5ce4b9b0-8819-4c04-d894-08ddb33fbcea', N'Delta Generali')
INSERT [dbo].[Osiguranja] ([Id], [Naziv]) VALUES (N'47fcfbb1-6b6a-41d5-d895-08ddb33fbcea', N'Triglav')
GO
INSERT [dbo].[OsiguranjeCijene] ([Id], [OsiguranjeId], [MinKw], [MaxKw], [PricePerKw]) VALUES (N'67cc1e5e-a288-4b4a-b4f9-104b3da80329', N'e40105eb-d13b-43e8-d893-08ddb33fbcea', 66, 90, CAST(270.00 AS Decimal(18, 2)))
INSERT [dbo].[OsiguranjeCijene] ([Id], [OsiguranjeId], [MinKw], [MaxKw], [PricePerKw]) VALUES (N'8cbbd9e1-9808-4dad-9660-1725000172a3', N'e40105eb-d13b-43e8-d893-08ddb33fbcea', 34, 65, CAST(240.00 AS Decimal(18, 2)))
INSERT [dbo].[OsiguranjeCijene] ([Id], [OsiguranjeId], [MinKw], [MaxKw], [PricePerKw]) VALUES (N'c80e8b9b-9a34-4d76-b2f8-1d9a9fc96547', N'5ce4b9b0-8819-4c04-d894-08ddb33fbcea', 121, 150, CAST(343.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Registracije] ([Id], [DatumRegistracije], [CijenaRegistracije], [PrivremenaRegistracija], [KlijentId], [VoziloId], [DatumIstekaRegistracije], [OsiguranjeId], [RegistarskaOznaka]) VALUES (N'c16e87cd-6736-4baa-92b2-08ddc7b342ce', CAST(N'2025-07-20T17:30:42.6660000' AS DateTime2), CAST(65032.50 AS Decimal(18, 2)), 0, N'969f7406-052b-45c0-f09b-08ddb3427c34', N'24e8cb57-b1ae-4350-7dd7-08ddb2886e4d', CAST(N'2026-07-20T17:30:42.6660000' AS DateTime2), N'e40105eb-d13b-43e8-d893-08ddb33fbcea', N'BG-222-AC')
INSERT [dbo].[Registracije] ([Id], [DatumRegistracije], [CijenaRegistracije], [PrivremenaRegistracija], [KlijentId], [VoziloId], [DatumIstekaRegistracije], [OsiguranjeId], [RegistarskaOznaka]) VALUES (N'f94648ce-6f40-467b-f0d6-08ddcae37e2a', CAST(N'2025-07-24T18:53:53.4990000' AS DateTime2), CAST(11270.00 AS Decimal(18, 2)), 0, N'b48e6b5c-8117-46d9-2ce2-08ddcae36a56', N'fc901e7e-f88f-4a14-71f1-08ddcae3484b', CAST(N'2026-07-24T18:53:53.4990000' AS DateTime2), N'e40105eb-d13b-43e8-d893-08ddb33fbcea', N'BG111OI')
INSERT [dbo].[Registracije] ([Id], [DatumRegistracije], [CijenaRegistracije], [PrivremenaRegistracija], [KlijentId], [VoziloId], [DatumIstekaRegistracije], [OsiguranjeId], [RegistarskaOznaka]) VALUES (N'9d830e56-a764-407c-ce3c-08ddcb449113', CAST(N'2025-07-25T06:28:49.5260000' AS DateTime2), CAST(69732.00 AS Decimal(18, 2)), 0, N'fdc5b67a-161d-4732-5759-08ddcb4447ce', N'c87b793f-d38a-4748-20b8-08ddb35baa5b', CAST(N'2026-07-25T06:28:49.5260000' AS DateTime2), N'47fcfbb1-6b6a-41d5-d895-08ddb33fbcea', N'BG187NC')
GO
INSERT [dbo].[TipoviVozila] ([Id], [Naziv], [Kategorija]) VALUES (N'142b62f0-29f8-4a9d-912e-09f2e875aa3a', N'Prikolica mala (do 750 kg)', N'O1')
INSERT [dbo].[TipoviVozila] ([Id], [Naziv], [Kategorija]) VALUES (N'c0e9a5e3-82c5-427e-9e2c-535e27988f2c', N'Tricikl', N'L2')
INSERT [dbo].[TipoviVozila] ([Id], [Naziv], [Kategorija]) VALUES (N'f1c8389e-0862-4a57-b6ac-677f6dd65915', N'Radna mašina', N'G')
GO
INSERT [dbo].[Vozila] ([Id], [TipVozilaId], [MarkaVozilaId], [ModelVozilaId], [GodinaProizvodnje], [ZapreminaMotora], [Masa], [SnagaMotora], [BrojSasije], [DatumPrveRegistracije], [VrstaGoriva]) VALUES (N'24e8cb57-b1ae-4350-7dd7-08ddb2886e4d', N'2f4e824a-0b64-4dc0-b89b-c15202522f8a', N'52bdc02f-7a81-4299-a291-017efac63a7e', N'934ec6e0-9045-444e-9aa0-4a457f5fb3f1', 2020, 1984, 1550, 150, N'111IoaaaL9087NMB222Op24MASJ7', CAST(N'2025-07-20T17:27:57.7070000' AS DateTime2), N'Dizel')
INSERT [dbo].[Vozila] ([Id], [TipVozilaId], [MarkaVozilaId], [ModelVozilaId], [GodinaProizvodnje], [ZapreminaMotora], [Masa], [SnagaMotora], [BrojSasije], [DatumPrveRegistracije], [VrstaGoriva]) VALUES (N'c87b793f-d38a-4748-20b8-08ddb35baa5b', N'75007fea-a0ce-4a2a-bff5-7acfef9583b1', N'27aeb789-beb3-44b0-8ceb-2c76652d97d6', N'71b8c8e3-af37-48f1-94b4-5bd9f86756e6', 2015, 2200, 2500, 150, N'jkashda877sadaskdhaoiu8', CAST(N'2015-07-15T22:00:00.0000000' AS DateTime2), N'Dizel')
INSERT [dbo].[Vozila] ([Id], [TipVozilaId], [MarkaVozilaId], [ModelVozilaId], [GodinaProizvodnje], [ZapreminaMotora], [Masa], [SnagaMotora], [BrojSasije], [DatumPrveRegistracije], [VrstaGoriva]) VALUES (N'fc901e7e-f88f-4a14-71f1-08ddcae3484b', N'd938d05f-bfb1-4885-b95e-bdafc63af4c4', N'23612746-a7ad-4e57-a290-2d94e4f63af6', N'accb1f09-babe-42a3-9600-3a8bb9be6f50', 2022, 49, 343, 15, N'21412fvdge', CAST(N'2025-07-23T22:00:00.0000000' AS DateTime2), N'Benzin')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MarkeVozila_TipVozilaId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_MarkeVozila_TipVozilaId] ON [dbo].[MarkeVozila]
(
	[TipVozilaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModeliVozila_MarkaVozilaId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ModeliVozila_MarkaVozilaId] ON [dbo].[ModeliVozila]
(
	[MarkaVozilaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OsiguranjeCijene_OsiguranjeId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_OsiguranjeCijene_OsiguranjeId] ON [dbo].[OsiguranjeCijene]
(
	[OsiguranjeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Registracije_KlijentId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Registracije_KlijentId] ON [dbo].[Registracije]
(
	[KlijentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Registracije_OsiguranjeId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Registracije_OsiguranjeId] ON [dbo].[Registracije]
(
	[OsiguranjeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Registracije_VoziloId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Registracije_VoziloId] ON [dbo].[Registracije]
(
	[VoziloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vozila_MarkaVozilaId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Vozila_MarkaVozilaId] ON [dbo].[Vozila]
(
	[MarkaVozilaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vozila_ModelVozilaId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Vozila_ModelVozilaId] ON [dbo].[Vozila]
(
	[ModelVozilaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vozila_TipVozilaId]    Script Date: 9/16/2025 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Vozila_TipVozilaId] ON [dbo].[Vozila]
(
	[TipVozilaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Registracije] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DatumIstekaRegistracije]
GO
ALTER TABLE [dbo].[Registracije] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [OsiguranjeId]
GO
ALTER TABLE [dbo].[Registracije] ADD  DEFAULT (N'') FOR [RegistarskaOznaka]
GO
ALTER TABLE [dbo].[TipoviVozila] ADD  DEFAULT (N'') FOR [Kategorija]
GO
ALTER TABLE [dbo].[Vozila] ADD  DEFAULT (N'') FOR [VrstaGoriva]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MarkeVozila]  WITH CHECK ADD  CONSTRAINT [FK_MarkeVozila_TipoviVozila_TipVozilaId] FOREIGN KEY([TipVozilaId])
REFERENCES [dbo].[TipoviVozila] ([Id])
GO
ALTER TABLE [dbo].[MarkeVozila] CHECK CONSTRAINT [FK_MarkeVozila_TipoviVozila_TipVozilaId]
GO
ALTER TABLE [dbo].[ModeliVozila]  WITH CHECK ADD  CONSTRAINT [FK_ModeliVozila_MarkeVozila_MarkaVozilaId] FOREIGN KEY([MarkaVozilaId])
REFERENCES [dbo].[MarkeVozila] ([Id])
GO
ALTER TABLE [dbo].[ModeliVozila] CHECK CONSTRAINT [FK_ModeliVozila_MarkeVozila_MarkaVozilaId]
GO
ALTER TABLE [dbo].[OsiguranjeCijene]  WITH CHECK ADD  CONSTRAINT [FK_OsiguranjeCijene_Osiguranja_OsiguranjeId] FOREIGN KEY([OsiguranjeId])
REFERENCES [dbo].[Osiguranja] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OsiguranjeCijene] CHECK CONSTRAINT [FK_OsiguranjeCijene_Osiguranja_OsiguranjeId]
GO
ALTER TABLE [dbo].[Registracije]  WITH CHECK ADD  CONSTRAINT [FK_Registracije_Klijenti_KlijentId] FOREIGN KEY([KlijentId])
REFERENCES [dbo].[Klijenti] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registracije] CHECK CONSTRAINT [FK_Registracije_Klijenti_KlijentId]
GO
ALTER TABLE [dbo].[Registracije]  WITH CHECK ADD  CONSTRAINT [FK_Registracije_Osiguranja_OsiguranjeId] FOREIGN KEY([OsiguranjeId])
REFERENCES [dbo].[Osiguranja] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registracije] CHECK CONSTRAINT [FK_Registracije_Osiguranja_OsiguranjeId]
GO
ALTER TABLE [dbo].[Registracije]  WITH CHECK ADD  CONSTRAINT [FK_Registracije_Vozila_VoziloId] FOREIGN KEY([VoziloId])
REFERENCES [dbo].[Vozila] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registracije] CHECK CONSTRAINT [FK_Registracije_Vozila_VoziloId]
GO
ALTER TABLE [dbo].[Vozila]  WITH CHECK ADD  CONSTRAINT [FK_Vozila_MarkeVozila_MarkaVozilaId] FOREIGN KEY([MarkaVozilaId])
REFERENCES [dbo].[MarkeVozila] ([Id])
GO
ALTER TABLE [dbo].[Vozila] CHECK CONSTRAINT [FK_Vozila_MarkeVozila_MarkaVozilaId]
GO
ALTER TABLE [dbo].[Vozila]  WITH CHECK ADD  CONSTRAINT [FK_Vozila_ModeliVozila_ModelVozilaId] FOREIGN KEY([ModelVozilaId])
REFERENCES [dbo].[ModeliVozila] ([Id])
GO
ALTER TABLE [dbo].[Vozila] CHECK CONSTRAINT [FK_Vozila_ModeliVozila_ModelVozilaId]
GO
ALTER TABLE [dbo].[Vozila]  WITH CHECK ADD  CONSTRAINT [FK_Vozila_TipoviVozila_TipVozilaId] FOREIGN KEY([TipVozilaId])
REFERENCES [dbo].[TipoviVozila] ([Id])
GO
ALTER TABLE [dbo].[Vozila] CHECK CONSTRAINT [FK_Vozila_TipoviVozila_TipVozilaId]
GO
USE [master]
GO
