<div style="display: flex">
  <app-user-sidebar></app-user-sidebar>

  <div style="margin: 35px 30px; width: 100%;">

    <mat-card class="card">

      <mat-card-header class="card-header">
        <mat-card-title class="card-header-title">
          Change Password
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="card-body">

        <form
          [formGroup]="passwordForm"
          style="display: flex; flex-direction: column; gap: 10px; max-width: 400px; padding: 20px;"
        >

          <mat-form-field appearance="outline">
            <mat-label>Current Password</mat-label>
            <input type="password" matInput formControlName="currentPassword" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input type="password" matInput formControlName="newPassword" />
          </mat-form-field>

        </form>

      </mat-card-content>

      <mat-card-actions class="card-footer">
        <button
          mat-flat-button
          color="primary"
          (click)="changePassword()"
          [disabled]="!passwordForm.valid"
        >
          Confirm
        </button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>